modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Doctor Admin App"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=20803 pnpm --filter @workspace/gkm-medical run dev"
waitForPort = 20803

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Doctor Admin App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3002 pnpm --filter @workspace/doctor-admin-app run dev"
waitForPort = 3002

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 4200

[[ports]]
localPort = 8084
externalPort = 3001

[[ports]]
localPort = 8085
externalPort = 6000

[[ports]]
localPort = 20803
externalPort = 3000

[[ports]]
localPort = 20804
externalPort = 3002

[[ports]]
localPort = 25495
externalPort = 5173

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://ntoxhcaennvobivxqawv.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50b3hoY2Flbm52b2JpdnhxYXd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyOTU2MTgsImV4cCI6MjA5Mjg3MTYxOH0.9kmWEIbzh8afLQo_4CFsc6sYpFfEy5ZSLe6PfYjz_Y0"

[nix]
channel = "stable-25_05"
